.bg-light {
    background-color: #f8f9fa;
  }
  
  .container {
    width: 100%;
    max-width: 1140px;
  }
  
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-gray-500 {
    --text-opacity: 1;
    color: #6b7280;
    color: rgba(107, 114, 128, var(--text-opacity));
  }
  
  .text-gray-600 {
    --text-opacity: 1;
    color: #4b5563;
    color: rgba(75, 85, 99, var(--text-opacity));
  }
  
  .hover\:text-gray-600:hover {
    --text-opacity: 1;
    color: #4b5563;
    color: rgba(75, 85, 99, var(--text-opacity));
  }
  
  .focus\:outline-none:focus {
    outline: none;
  }
  
  .focus\:text-gray-600:focus {
    --text-opacity: 1;
    color: #4b5563;
    color: rgba(75, 85, 99, var(--text-opacity));
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .space-x-8 > :not(:last-child) {
    margin-right: 2rem;
  }
  
  .bg-gray-100 {
    --bg-opacity: 1;
    background-color: #f3f4f6;
    background-color: rgba(243, 244, 246, var(--bg-opacity));
  }
  
  .h-05 {
    height: 1px;
  }
  